## Mengubah Huruf Besar / Kecil

In [1]:
#Upper
nama = "bayu"
nama_cap = nama.upper()
print(nama_cap)

BAYU

In [2]:
#Lower
nama = "HADI"
nama_low = nama.lower()
print(nama_low)

hadi

## Awalan dan Akhiran

In [3]:
#rstrip
rs = "Indonesia          "
print(rs.rstrip())

Indonesia

In [4]:
#rstrip
rss = "         Indonesia"
print(rss.lstrip())

Indonesia

In [5]:
#strip
strip = "         Indonesia          "
strip_dua = "Merdeka!"
print(strip.strip() + strip_dua )

IndonesiaMerdeka!

In [6]:
#strip
strip = "         Indonesia          "
strip_dua = "Merdeka!"
print(strip.strip(), strip_dua )

Indonesia Merdeka!

In [7]:
#strip -> menghilangkan bagian tertentu di kalimat
word = "HaloHaloHaloHalosemuanyaHaloHaloHaloHaloHalo"
print(word.strip("Halo"))

semuany

## Menggabungkan dan Memisahkan String

In [8]:
#Join
print(','.join(['Indonesia','.','AI']))

Indonesia,.,AI

In [9]:
#Split
var = "Indonesia tanah airku"
var_dua = var.split("Indonesia")
print(var_dua)

['', ' tanah airku']

## Mengganti Elemen di String

In [10]:
nama = "Indonesia Negaraku"
print(nama)
print(nama.replace('Negaraku','Tanah Airku'))

Indonesia Negaraku
Indonesia Tanah Airku

In [11]:
lower = "Aku cinta Indonesia"
print(lower.isalpha())

False

## Lain-lain

In [12]:
nama ="john doe"
print(nama.capitalize())

John doe

In [13]:
print(nama.title())

John Doe

## Konversi Tipe Data

In [14]:
#String
angka = 1
print(type(angka))

<class 'int'>

In [15]:
angka_dua=str(angka)
print(type(angka_dua))
print(angka_dua)

<class 'str'>
1

In [16]:
#Integer
float1 = 3.6
print(type(float1))

<class 'float'>

In [17]:
float_dua = int(float1)
print(float_dua)

3

In [18]:
print(type(float_dua))

<class 'int'>

In [19]:
bil = 6
print(bil)
print(type(bil))

6
<class 'int'>

In [20]:
bi =5
flt = float(bi)
print(flt)

5.0

## Cara lain untuk print

In [21]:
print('Halo {}'.format('Semuanya'))

Halo Semuanya

In [22]:
var = "Indonesia"
print('Aku cinta %s' % var)

Aku cinta Indonesia

In [23]:
var_dua = 1234
print('Berhitung mulai dari %d' % var_dua)

Berhitung mulai dari 1234

## Input Data

In [24]:
nama_satu = input('Siapa nama kamu?')
print(type(nama_satu))

Siapa nama kamu?heriwn
<class 'str'>

In [26]:
tambah = input("Masukkan angka : ")
tambah_dua = 200
tambah_tiga = int(tambah) + 200
print(tambah_tiga)

Masukkan angka : 5
205

## If Else Elif

In [35]:
y = 40
z = 100
w = y<z
print(w)
if w == True:
    print('ternyata',y,'lebih kecil dari',z)

True
ternyata 40 lebih kecil dari 100

In [39]:
var_x = 1
if var_x > 2:
    print(var_x,"lebih besar dari 2")
else:
    print(var_x,"lebih kecil dari 2")

1 lebih kecil dari 2

In [42]:
masukan = int(input("Masukkan angka : "))
var_y = 10
if masukan < var_y:
    print(masukan,'lebih kecil dari',var_y)
else:
    print(masukan,'lebih besar dari',var_y)

Masukkan angka : 324
324 lebih besar dari 10

In [46]:
name = input("Masukkan nama Anda : ")
time = int(input("Jam berapa Anda datang? "))
masuk = 8
print("Halo", name)
if time == masuk:
    print('Wahh anda datang tepat waktu...%s!',name)
elif time < masuk:
       print('Wahh anda sangat rajin...%s!',name)
elif time > masuk:
    print('Anda terlambat datang...%s!',name)

Masukkan nama Anda : nfweofwe
Jam berapa Anda datang? 89
Halo nfweofwe
Anda terlambat datang...%s! nfweofwe

## Loop

In [51]:
foods =['Kebab','Burger','Kofta']
for elemen in foods:
    print('Saya ingin makan %s' % elemen)

Saya ingin makan Kebab
Saya ingin makan Burger
Saya ingin makan Kofta

In [54]:
angka_ = [1,2,3,4,5,6,7]
for nomor in angka_:
    print(nomor)

1
2
3
4
5
6
7

## While

In [47]:
t=1
while t <=10:
    print(t)
    t +=1

1
2
3
4
5
6
7
8
9
10

In [49]:
input_angka = int(input("Masukkan angka : "))
angka_z = [1,2,3,4,5,6,7,8,9,10]
for a in angka_z:
    print(a)
    if a == input_angka:
        print("Angka %d ditemukan" % input_angka)
        break

Masukkan angka : 4
1
2
3
4
Angka 4 ditemukan