In [1]:
print("Hello World")

Hello World

In [2]:
salam = "Selamat siang"
print(salam)

Selamat siang

In [3]:
salam12 = "Hi"
print(salam12)

Hi

In [4]:
print("Budi", 123, ".", sep="-")

Budi-123-.

In [5]:
print("Haloo selamat siang", end="#")
print("Saya ingin menjadi Data Scientist")

Haloo selamat siang#Saya ingin menjadi Data Scientist

In [6]:
#ini untuk sapaan
menyapa = "Hallo!"
print(menyapa)

Hallo!

## Tipe Data

In [7]:
integer = 100
print(integer)

100

In [8]:
float = 3.8
print(float)

3.8

In [9]:
comp = 1+3j
print(comp)

(1+3j)

In [10]:
print(type(integer))
print(type(float))
print(type(comp))

<class 'int'>
<class 'float'>
<class 'complex'>

In [11]:
string = "Indonesia"
print(type(string))

<class 'str'>

In [12]:
num =0
print(bool(num))

False

## Operasi Dasar

In [13]:
num_satu = 20
num_dua = 30
number = num_satu + num_dua
print(number)

50

In [14]:
num_satu = '20'
num_dua = '30'
number = num_satu + num_dua
print(number)

2030

In [15]:
x = 20
y = 16
print(x-y)

4

In [16]:
x = 'Satu'
hasil= x*5
print(hasil)

SatuSatuSatuSatuSatu

In [17]:
x = 23
y = 4
hasil = x/y
print(hasil)

5.75

In [18]:
x = 23
y = 4
hasil = x//y
print(hasil)

5

In [19]:
x = 23
y = 4
modulus = x%y
print(modulus)

3

## Operator Penugasan

In [21]:
x="Hallo"
print(x)

Hallo

In [22]:
x=4
x += 5
print(x)

9

In [24]:
x=9
x -= 2
print(x)

7

In [26]:
x=14
x /= 2
print(x)

7.0

In [27]:
x=4
x *= 3
print(x)

12

## Perbandingan

In [1]:
x = 4
y = 7
hasil = x > y
print(hasil)

False

In [20]:
kendaraan_satu = "Mobil"
kendaraan_dua = "Motor"